.main-page {
  .header__mobile-offers,
  .about-us__more, .offers-mobile {
    display: none;
  }
  .selections {
    h4 {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .main-page {
    padding-top: 0;
    * {
      box-sizing: border-box;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }
    .header {
      display: block;
      min-width: auto;
      margin-bottom: 50px;
      background: url("../images/bg-fotorama-mirror-head.png") no-repeat center
          top,
        #000;
      background-size: 620px 60px;
      .logo,
      .line-wrapper,
      .contacts {
        display: none;
      }
      .header__container {
        min-width: auto;
        overflow: hidden;
        .content {
          max-height: 624px;
          padding-bottom: 30px;
        }
        .site-title {
          .salon-label {
            width: 216px;
            height: 17px;
            padding-bottom: 10px;
            background-size: 216px 17px;
          }
          .salon-name {
            width: 265px;
            height: 46px;
            background-size: 265px 46px;
          }
        }
        .fotorama {
          position: relative;
          top: 30px;
          .selection {
            .selection__label {
              bottom: 24%;
              h2 {
                font-size: 26px;
                line-height: (32/30);
              }
              p {
                display: none;
              }
            }
          }
        }
        .fotorama__stage {
          margin-top: 56px;
        }
        .fotorama-mirror {
          min-width: auto;
          max-height: 624px;
          top: 30px;
          background-size: 620px;
          background-position: 50% 30px;
          .header__content {
            //display: none;

            min-width: auto;
            .header__content__left {
              width: 100%;
              padding: 0;
              .offers {
                display: none;
              }
            }
            .header__content__right {
              display: none;
              ul {
                li {
                  &:nth-child(3) {
                    display: none;
                  }
                }
              }
            }
            .mirror-placeholder {
              width: auto;
              height: 80%;
              left: 23%;
              right: 23%;
              top: initial;
            }
          }
          .mirror-front {
            background-size: 564px;
          }
          .site-title {
            top: initial;
            padding-top: 65px;
          }
          .mirror-front {
            top: 30px;
          }
        }
        .fotorama-arrows {
          position: relative;
          .fotorama-dots {
            left: 60px;
            right: 60px;
            bottom: 0px;
            .arrow-left {
              bottom: -11px;
              width: 17px;
              height: 33px;
              background-size: 17px 66px;
              background-position: 0 0;
            }
            .arrow-right {
              bottom: -11px;
              width: 17px;
              height: 33px;
              background-size: 17px 66px;
              background-position: 0 0;
            }
            .dot {
              padding: 5px;
              &:before {
                width: 12px;
                height: 12px;
              }
              &.active {
                &:before {
                  top: 3px;
                  border-width: 3px;
                }
              }
            }
          }
          .fotorama__wrap {
            height: 100%;
          }
        }
      }
      .offers-mobile {
        display: block;
        padding: 20px 20px 30px;
        background: #210a21;
        * {
          margin: 0;
          padding: 0;
        }
        ul {
          list-style: none;
        }
        .offers-count {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          span {
            display: block;
            padding-right: 18px;
            font-size: 61px;
            line-height: 1;
            font-family: mary_trufel_numbers_display, Arial, sans-serif;
            font-weight: normal;
            letter-spacing: -5px;
          }
          p {
            margin-top: -15px;
            font-size: 18px;
            line-height: 1;
          }
        }
        ul.offers {
          margin: 0 -10px;
          padding-bottom: 30px;
          color: #ffe100;
          font-size: 25px;
          line-height: 1;
          a {
            display: block;
            padding-top: 10px;
              padding-bottom: 10px;
            color: #ffe100;
            text-decoration: none;
            font-size: 25px;
            br {
              display: none;
            }
            span {
              top: initial !important;
            }
            span.title {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              max-width: 100%;
              width: 100%;
              min-height: 115px;
              line-height: 1;
              
              &:before {
                position: absolute;
                top: 50%;
                left: initial !important;
                bottom: initial !important;
                display: block;
                width: 114px !important;
                height: 113px !important;
                flex-shrink: 0;
                background-size: contain !important;
                background-position: center;
                transform: translate3d(0, -50%, 0);
              }
              .title__info {
                display: block;
                width: 100%;
              }
            }
          }
          li {
            &:nth-child(odd) {
              text-align: left;
              span.title {
                padding-left: 120px;
                &:before {
                  left: 0 !important;
                }
              }
              .deadline {
                //margin-left: 114px;
              }
            }
            &:nth-child(even) {
              text-align: right;
              span.title {
                padding-right: 120px;
                &:before {
                  right: 0 !important;
                }
              }
              .deadline {
                //margin-right: 114px;
              }
            }
          }
          .deadline {
            display: block;
            width: 100%;
            padding: 5px 0 0;
            font-size: 18px;
            line-height: (25/18);
            background: none;
          }
        }
      }
    }
    .content {
      padding: 0 20px;
      .banner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        text-align: center;
        div.icon-wrapper {
          width: 100%;
          height: 160px;
          margin-bottom: 20px;
          p {
            max-width: 130px !important;
            width: 100% !important;
            max-height: 160px !important;
            height: auto !important;
            margin: 0 auto !important;
            background-size: contain !important;
          }
          .background {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 59px;
            width: 90%;
            background: url("../images/bg-main-banner-sale.png") no-repeat
              center right;
            background-size: 97px 52px;
          }
        }
        div.text-wrapper {
          width: 100%;
          margin-bottom: 20px;
          padding: 0;
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          line-height: 1;
          p {
            padding: 0;
          }
          .background {
            display: none;
          }
        }
        div.button-wrapper {
          width: 100%;
          padding-top: 0;
          text-align: center;
          a {
            display: inline-block;
            margin: 20px auto 13px;
            .button {
              margin: 0 auto;
            }
          }
          span {
            display: block;
            font-size: 20px;
          }
        }
      }
      .collections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 0;
        li {
          width: 100%;
          float: none;
          margin: 0 0 20px;
        }
        a {
          .name {
            display: inline;
            white-space: initial;
            line-height: 1.4;
            text-decoration: underline;
            background: none;
          }
          &.selection {
            span.title {
              font-size: 25px;
              line-height: 1.25;
              font-weight: normal;
              span.digits {
                font-size: 100px;
                line-height: 1;
              }
            }
          }
        }
        .image-wrapper {
          margin-bottom: 15px;
        }
        .collection-0 {
          width: calc(50% - 7px);
          order: 0;
        }
        .collection-1 {
          width: calc(50% - 7px);
          margin-top: 35px;
          order: 1;
        }
        .collection-2 {
          order: 2;
          .image-wrapper {
            margin-bottom: 20px;
          }
        }
        .collection-3 {
          order: 5;
        }
        .collection-4 {
          padding: 30px 0 30px;
          order: 3;
          .selection {
            padding-bottom: 0;
            .selection__container {
              position: relative;
            }
          }
        }
        .collection-5 {
          order: 4;
        }
      }
      .silhouettes-title {
        margin: 0 auto 30px;
      }
      .silhouettes {
        position: relative;
        margin: 0 auto 50px;
        padding-bottom: 40px;
        //padding-bottom: 100px;
        opacity: 1;
        background: url("../images/bg-mobile-arrow.png") no-repeat center bottom;
        background-size: 87px 20px;
        li {
          display: block;
          a {
            margin: 0 !important;
            margin-top: 30px !important;
            .hint {
              width: 300px !important;
              max-width: 340px !important;
              top: initial !important;
              bottom: initial !important;
              left: 50% !important;
              padding-bottom: 0 !important;
              padding-top: 0 !important;
              font-size: 20px;
              line-height: 1.2;
              transform: translate3d(-50%, 0, 0);
              &:before {
                content: none;
              }
              p {
                margin-top: -30px;
                margin-bottom: 300px;
              }
            }
          }
        }
        .silhouette-1 {
        }
        .silhouette-2 {
          a {
            background-position-y: 18px;
            &:hover {
              background-position-y: -254px;
            }
          }
        }
        .silhouette-3 {
          a {
            background-position-y: 10px;
            &:hover {
              background-position-y: -262px;
            }
          }
        }
        .silhouette-short {
          a {
            height: 247px;
            background-position-y: 71px;
            &:hover {
              background-position-y: -200px;
            }
          }
        }
        .silhouette-4 {
          a {
            top: 3px;
            &:hover {
            }
            .hint {
              p {
                //margin-top: 10px;
              }
            }
          }
        }
        .silhouette-5 {
          a {
            //height: 312px;
            //background-position-y: 40px;
            &:hover {
              //background-position-y: 40px;
            }
          }
        }
        .fotorama__arr {
          top: 40%;
        }
      }
      .brands {
        margin: 0 -20px 35px;
        padding: 0;
        h4 {
          width: 100%;
          padding: 0 20px;
          font-size: 20px;
          line-height: 1.2;
        }
        ul {
          margin-bottom: 0;
          padding-left: 20px;
          padding-bottom: 15px;
          text-align: left;
          width: auto;
          min-width: initial;
          white-space: nowrap;
          li {
            .image-wrapper {
              display: none;
            }
            a span.u {
              font-size: 18px;
              line-height: (15/18);
              background: none;
            }
          }
        }
      }
      .brands__list {
        display: flex;
        overflow: auto;
      }
    }
    .fotorama__arr {
      &.fotorama__arr--prev {
        display: inline-block;
        width: 17px;
        height: 33px;
        background-image: url("../images/icons/fotorama-nav-left.png");
        background-size: 17px 66px;
        background-position: 0 0;
        &:hover {
          background-position: 0 100%;
        }
      }
      &.fotorama__arr--next {
        display: inline-block;
        width: 17px;
        height: 33px;
        background-image: url("../images/icons/fotorama-nav-right.png");
        background-size: 17px 66px;
        background-position: 0 0;
        &:hover {
          background-position: 0 100%;
        }
      }
    }
    .fotorama__nav {
      .fotorama__nav__frame {
        width: 16px;
      }
      .fotorama__nav__frame {
        .fotorama__dot {
          margin: 0 2px;
          border-width: 3px;
          border-color: #ddd;
        }
        &.fotorama__active {
          .fotorama__dot {
            top: 11px;
            border-width: 4px;
            border-color: #a764bf;
          }
        }
      }
    }
    .authors-container {
      position: relative;
      margin: 0 auto 50px;
      padding: 15px 15px 0;
      .authors {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding-top: 0;
        .text {
          display: block;
          width: 100%;
          margin: 15px 0 10px;
        }
        .author_1 {
          width: calc(100% - 60px);
          height: 26px;
          background-size: contain;
        }
        .author_2 {
          width: calc(100% - 60px);
          height: 26px;
          margin-left: auto;
          background-size: contain;
          background-position: bottom right;
        }
        .author_avatar_2 {
          margin-right: 0;
          margin-left: 10px;
          order: 5;
        }
      }
      .about-us {
        position: relative;
        width: 100%;
        max-height: 264px;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        padding-bottom: 40px;
        overflow: hidden;
        transition: all 0.3s ease;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 40px;
          background: #fff;
        }
        &.open {
          display: inline-block;
          max-height: 1500px;
          -webkit-line-clamp: initial;
        }
        p {
          margin: 0 0 1em;
          font-size: 20px;
          line-height: 1.4;
          &.svidetel,
          &.camera,
          &.mirror {
            &::before {
              content: none;
            }
          }
        }
      }
      .about-us__more {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin: 0 auto;
        text-align: center;
        transform: translate3d(-50%, 0, 0);
        z-index: 5;
        a {
          font-size: 18px;
          color: #2758a3;
          text-decoration: none;
          border-bottom: 1px solid #2758a3;
        }
      }
      .story {
        padding-bottom: 30px;
        a {
          width: 295px;
          height: 293px;
          margin: 0 auto;
          padding-top: 210px;
          background: url("../images/bg-authors-container.png") no-repeat center
            top;
          background-size: 285px 187px;
          &:before,
          &:after {
            content: none;
          }
          span.t {
            &:before {
              content: none;
            }
            .u {
              font-size: 18px;
              line-height: 2;
              &:after {
                width: 87px;
                height: 20px;
                background-image: url("../images/bg-mobile-arrow.png");
                background-size: 87px 20px;
              }
            }
          }
        }
      }
    }
    .blog {
      margin: 0 auto 50px;
      padding: 0;
      h4 {
        font-size: 20px;
        margin-bottom: 30px;
        letter-spacing: normal;
        a {
          span {
            background-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 1) 100%
            );
          }
        }
      }
      ul {
        margin-top: 0;
        li {
          width: 100%;
          line-height: 1.4;
          font-size: 20px;
          &:first-child {
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.2;
            a {
              padding: 0 0 10px;
              padding-left: 25px;
              span {
                background-image: linear-gradient(
                  to left,
                  rgba(0, 0, 0, 1),
                  rgba(0, 0, 0, 1) 100%
                );
                background-position: 0 25px;
              }
            }
          }
          a {
            position: relative;
            padding: 10px 0 10px;
            padding-left: 25px;
            &:before {
              position: absolute;
              top: 50%;
              left: 0;
              width: 50px;
              height: 50px;
              margin-bottom: 0;
              transform: translate3d(0, -50%, 0);
              z-index: 0;
            }
            span {
              position: relative;
              background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 1) 100%
              );
              z-index: 1;
            }
          }
        }
      }
    }
    .selections {
      h4 {
        display: block;
        margin: 0 auto 30px;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: normal;
        letter-spacing: normal;
        text-transform: uppercase;
      }
      .collections {
        .photo-top-distance,
        .photo-bottom-distance {
          display: none;
        }
        li {
          float: none !important;
        }
        li.collection-s0 {
          width: calc(50% - 7px);
        }
        li.collection-s1 {
          width: calc(50% - 7px);
          margin: 0;
          margin-top: 30px;
          .photo-top-distance {
            display: none;
          }
          a .image-wrapper {
            transform: rotate(0);
          }
        }
        li.collection-b0 {
          width: calc(50% - 7px);
          margin: 0;
          margin-top: 30px;
          .image-wrapper {
            transform: rotate(0deg);
          }
        }
        li.collection-b1 {
          width: calc(50% - 7px);
          margin: 0;
        }
        li.collection-b2 {
          width: calc(50% - 7px);
          margin: 0;
          margin-top: 30px;
        }
        li.collection-b3 {
          width: calc(50% - 7px);
          margin: 0;
        }
        li.collection-b4 {
          width: 100%;
          margin: 0;
          margin-top: 30px;
        }
        li.collection-b5 {
          width: 100%;
          margin: 0;
          margin-top: 50px;
          margin-bottom: 20px;
        }
        a.selection {
          display: block;
          padding-bottom: 0;
          span.selection__container {
            position: relative;
          }
          span.valign {
            display: block;
            height: auto;
            span.valign2 {
              display: block;
              .title {
                .digits {
                  display: block;
                  text-align: center;
                  font-size: 100px;
                  //margin-bottom: 20px;
                }
              }
              .arrow-container .arrow {
                width: 87px;
                height: 20px;
                background: url("../images/bg-mobile-arrow.png") no-repeat
                  center;
                background-size: 87px 20px !important;
              }
            }
          }
        }
      }
      .dark-pane {
        width: 100%;
        margin: 0 0 50px;
        h4 {
          position: relative;
          display: block;
          margin: 0 auto 20px;
          font-size: 20px;
          margin-bottom: 30px;
          color: #fff;
          font-weight: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          z-index: 1;
        }
        .fotorama {
          position: relative;
          opacity: 1;
        }
        .collection-content {
          min-height: 511px;
          padding: 50px 0 40px;
        }
        .collections {
          margin-bottom: 0;
          .fotorama__html {
            display: flex;
            align-items: center;
          }
          .fotorama__arr {
            top: 45%;
          }
          li {
            width: 100%;
            margin: 0;
            float: none;
            a {
              .image-wrapper {
                padding-top: 50%;
                padding-bottom: 50%;
              }
            }
            .photo-top-distance,
            .photo-bottom-distance {
              display: none;
            }
            &.collection-p0 {
              img {
                height: 170%;
                //margin-top: 35%;
              }
            }
            &.collection-p1 {
              img {
                height: 170%;
                //margin-top: 40%;
              }
            }
            &.collection-p2 {
              img {
                height: 170%;
                //margin-top: 40%;
              }
            }
            &.collection-p3 {
              img {
                height: 170%;
                margin-top: -5%;
              }
              .image-wrapper {
                transform: rotate(0);
              }
            }
          }
        }
      }
    }
    .locations {
      margin-bottom: 30px;
      .locations-title {
        span {
          margin: 0;
        }
      }
      .map-link {
        width: 100%;
        height: 260px;
        .map-border {
          width: 100%;
          height: 260px;
          margin: 0 auto;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          background-size: 100% 520px;
        }
        .map {
          width: 100%;
          height: 260px;
          margin: 0 auto;
          background-size: 100% 520px;
        }
      }
    }
    .social-buttons {
      margin-bottom: 43px;
      padding: 0;
      li {
        margin: 0 3px 7px;
      }
    }
    .footer {
      margin-top: 0;
      .advice,
      .footer-bottom {
        display: none;
      }
      .footer__hint {
        a.fitting-button {
          opacity: 0; 
          transform: translate3d(0, 20px, 0);
          transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
          &.show-mobile {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      
    }
    
  }
}
